body {
    /* CORPO PRINCIPAL*/
    background-image: linear-gradient(90deg, gray, rgb(0, 58, 58));
}
.nome-sistema {
    /* TARJA COM NOME DO SISTEMA  */
    background-color: darkgoldenrod;
    text-align: center;
    transform: translate();
}
.formulario {
    /* AREA DO LOGIN */
    background-color: rgba(0, 0, 0, 0.3);
    border: 5px solid cadetblue;
    padding: 40px;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
   

}
/* BOTAO PARA ENTRAR DENTRO DO LOGIN*/
input,
button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
}
button {
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}
button[disabled] {
    opacity: 0.9;
}
button:hover {
    background-color: chartreuse;
}

/*.entrar{
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    color: green;
}
.recuperar{
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    color: red;
}
.registro{
    font-weight: bold;
    background-color: white;
    color: green;
    border: 1px solid black;
}
.erro{
    color: red;
    display: none;
}*/

input,
button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
}

input {
    /* AREA ONDE DIGITA DENTRO DO LOGIN*/
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
}


